::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: white;
}

header {
	width: 100%;
	height: 200px;
	background: rgba(0,0,0,0.5);
	position: relative;
	top: 0;
	left: 0;
}

header nav {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

header .logo {
	width: 200px;
	height: 200px;
	border: 1px solid white;
	position: absolute;
}
header .logo:after {
	content: "Logomarca";
	position: absolute;
	top: 50%;
	color: white;
	font-family: "Reboto";
	width: 100%;
	text-align: center;
	font-size: 16px;
	left: 0;
}	

header nav>ul>li{
	display: inline;
}
header nav>ul>li>a {
	font-family: "Raleway", sans-serif;
	color: white;
	font-size: 15px;
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
}
header nav>ul>li>a:hover {
	color: #F27A54;
	text-decoration: underline;
	font-family: "Raleway", sans-serif;
}

.search {
	position: absolute;
	top: 5px;
	right: 5px;
}

.search input[type="search"]{
	padding: 5px 20px;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	color: black;
	border: 1px solid gray;
	width: 180px;
	transition: all .4s ease;
	transition-delay: 5s;
	height: 40px;
}

.search input[type="search"]:focus {
	color: red;
	border: 1px solid #F27A54;
}

button.button.button-primary {
	height: 40px;
	border: 1px solid #0e58cf;
	background: #0e58cf;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	color: white;
	transition: ease .4s all;
	padding: 5px 20px;
	cursor: pointer;
	border-radius: 10px;
}

button.button.button-primary:hover {
	background: #042d6e;
}

.main-content {
	margin-top: 10px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

div.sidebar {
	margin-top: 0px;
	width: 200px;
	min-height: 200px;
	border: 1px solid white;

}
div.content {
	width: calc(100% - 215px);
	min-height: 200px;
	margin-left: 15px;
}

div.sidebar .breadcrumb li {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
	font-family: "Raleway", sans-serif;
	font-size: 11px;
	color: black;

}
div.sidebar .breadcrumb li:after {
	content: "/";
	position: absolute;
	right: -10px;
	top: 0;
}
div.sidebar .breadcrumb li>a {
	color: black;
}
div.sidebar .breadcrumb li:last-child:after{
	visibility: hidden;
}

div.sidebar .filters {
	padding-top: 10px;
	overflow: hidden;

}

div.sidebar .size-filter {
	margin-top: 15px;
	margin-left: 10px;
	line-height: 10px;
	overflow: hidden;
	padding-top: 10px;
}

div.sidebar .size-filter h4 {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: black;
	margin-bottom: 15px;
	max-height: 130px;
    padding: 0 6px 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

div.sidebar .filters {
	font-family: "Raleway", sans-serif;
	font-size: 12px; 
	margin-top: 10px;
	margin-left: 10px;
	line-height: 30px;
}

div.sidebar .brand-filter {
	margin-top: 15px;
	margin-left: 10px;
	line-height: 10px;
	overflow: hidden;
	padding-top: 10px;
}

div.sidebar .brand-filter h4 {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: black;
	margin-bottom: 15px;
	max-height: 130px;
    padding: 0 6px 10px 0;
    padding-top: 10px;
    border-top: 1px solid #e6eaf0;


}

div.sidebar .brand-filter select {
	width: 180px;
	height: 80px;
	margin-right: 2px;
	margin-top: 5px;
	border: none;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    border-bottom: 1px solid #e6eaf0;
	font-family: "Raleway", sans-serif;
}

div.sidebar .price-filter {
	margin-top: 15px;
	margin-left: 10px;
	line-height: 10px;
	overflow: hidden;
	padding-top: 10px;
}

div.sidebar .price-filter h4 {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: black;
	margin-bottom: 15px;
	max-height: 130px;
    padding: 0 6px 10px 0;

}

div.sidebar .price-filter select {
	line-height: 0px;
	width: 180px;
	height: 80px;
	margin-right: 2px;
	margin-top: 5px;
	border: none;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    border-bottom: 1px solid #e6eaf0;
    font-family: "Raleway", sans-serif;
}

div.sidebar .color-filter {
	margin-top: 15px;
	margin-left: 10px;
	line-height: 10px;
	overflow: hidden;
	padding-top: 10px;
}

div.sidebar .color-filter h4 {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: black;
	margin-bottom: 15px;
	max-height: 130px;
    padding: 0 6px 10px 0;
}

div.sidebar .color-filter .color-yellow {
	padding-left: 10px;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
} 

div.sidebar .color-filter .color-yellow::before {
	content: '';
	width: 15px;
	height: 15px;
	background: yellow;
	display: inline-block;
}

div.sidebar .color-filter .color-red {
	padding-left: 10px;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
} 

div.sidebar .color-filter .color-red::before {
	content: '';
	width: 15px;
	height: 15px;
	background: red;
	display: inline-block;
}

div.sidebar .color-filter .color-green {
	padding-left: 10px;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
} 

div.sidebar .color-filter .color-green::before {
	content: '';
	width: 15px;
	height: 15px;
	background: green;
	display: inline-block;
}

div.sidebar .color-filter .color-orange {
	padding-left: 10px;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
} 

div.sidebar .color-filter .color-orange::before {
	content: '';
	width: 15px;
	height: 15px;
	background: orange;
	display: inline-block;
}

div.sidebar .color-filter .color-grey {
	padding-left: 10px;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
} 

div.sidebar .color-filter .color-grey::before {
	content: '';
	width: 15px;
	height: 15px;
	background: grey;
	display: inline-block;
}

div.sidebar .genre-filter h4 {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: black;
	margin-bottom: 15px;
  	margin-top: 15px;
	max-height: 130px;
  	padding: 0 6px 10px 0;
  	display: block;
  	margin-left: 10px;
}

div.sidebar .genre-filter li {
  	padding-left: 10px;
  	font-family: "Raleway", sans-serif;
	font-size: 14px;
 	margin-bottom: 10px;
 	margin-left: 10px;
 	overflow: hidden;
}
div.content a>img .caption {
	text-align:center;
	display:inline-block;
    text-decoration:none;
    color:black;
}
div.content .items {
	margin-right: 10px;
    margin-bottom: 10px;
	float: left;
	width: calc(33.333% - 6.66px);
	position: relative;

}
div.content .items img {
  width: 100%;
  display: block;
}
div.content .items:nth-child(3n) {
  margin-right: 0; /*seletor de itens*/
}
div.content .items a img.over {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .4s ease;
}
div.content .items a:hover img.over {
  display: block;
  opacity: 1;
}
.n-block  {
	display: block;
    height: auto;
    overflow: hidden;
}

.caption  {
    font-size:20px;
    font-weight: 400;
    text-transform: none;
    display: table-cell;
    width: 100%;
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
}

.pricetable  {
	text-align: left;
    padding: 0;
}
.badges-items  {
	margin-bottom: 5px;
}
.badges-list {
	bottom: 0;
    position: relative;
}
.badge-item  {
	background: #38A9DE;
    color: #FFFFFF;
    border-color: #38A9DE;
    width:150px;
    text-align: center;
    opacity: 1;
}
.badge-item :hover {
	opacity: 2;


}
.price-list {
	text-decoration: none;
}
.price-list::after {
	box-sizing: inherit;
}
.price-list::before {
	box-sizing: inherit;
}
.a8990{
	position: relative;
    top: -2px;
    color: #8c8c8c;
    font-size: 15px;
    display: inline-block;
    text-decoration: line-through;
}

.fullprice {
	font-size: 14px;
    font-weight: 700;
    color: #13abe1;
    line-height: 1.2;
    margin-left: 5px;
    display: inline-block;
}
.finalprice {
	padding: 5px 0 0 0;
    color: #13abe1;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    background-color: #fff;
    position: relative;
    width: 100%;
    margin: 0;
}
.space {
	text-align: left;
    padding: 0;
    margin-top: 15px;
}
.similar {
	height: 18px;
    font-size: .875em;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
}
.flag {
	position: absolute;
    top: 0;
    left: 10px;
    right: 0;
	text-decoration: none;
	outline: 0;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
    display: table;
    width: auto;
    list-style: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    text-transform: none;

}	
.flag-text {
	position: absolute;
  width: 34px;
  height: 24px;
  background-color: #cc0000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  text-align: center;
  line-height: 25px;
  top: 5px;
  left: 5px;
  z-index: 4;
   
}
.flag-text::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 17px solid #cc0000;
  left: 0;
  bottom: -17px;
}

.btn-quick-view  {
	color: #00aae0;
    border-color: #00aae0;
    border-width: 1px;
    border-style: solid;
    background: #fff;
    font-size: 15px;
    padding: 6px 15px;
    font-weight: 600;
    width: 185px;
    text-align: center;
    left: 50%;
    margin-left: -92.5px;
    position: absolute;
    bottom: 120px;
    cursor: pointer;
    border-radius: 3px;
    text-transform: uppercase;
    outline: 0;
    visibility: hidden;
}

.btn-quick-view::hover {
	visibility: visible;
}

@media (max-width: 400px) {
  div.sidebar {
    display: none;
  }

  div.content {
    width: 100%;
    margin: 0;
  }
  div.content .items:nth-child(3n) {
    margin-right: inherit;
  }
  div.content .items:nth-child(2n) {
    margin-right: 0;
  }

  div.content .items {
  	width: calc(50% - 5px);    
  }
header .logo {
 	width: 55px;
	height:55px;
	border: 1px solid white;
	margin-top:10px;
	margin-left:10px;
}
header .logo:after {
	content: "Logomarca";
	position: absolute;
	top: 50%;
	color: white;
	font-family: "Reboto";
	width: 100%;
	text-align: center;
	font-size: 6px;
	left: 0;
}	
}
}